{# Full actualite view #}
<div class="col-sm-12 col-md-10 col-lg-10 text-center container-news">
    {% if response.body is not empty %}
        <div class="contenu-text-news">
          <code>
            <pre>
{{ response.body|raw }}
            </pre>
          </code>
        </div>
    {% endif %}
    {# END BLOCK COMPOSANTS #}
</div>
